@charset "UTF-8";
html, body {
  width: 100%;
  color: #222222;
  font-size: 16px;
  line-height: 1.6;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-size-adjust: 100%;
  letter-spacing: 0.1em; }

p, a {
  -webkit-font-smoothing: antialiased; }

a {
  color: #222222;
  text-decoration: none;
  transition: .3s; }

a:hover {
  color: #DBDBDB;
  transition: .3s; }

img {
  width: 100%;
  vertical-align: bottom; }

.l-header {
  background: white;
  box-sizing: border-box;
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  transition: .3s;
  z-index: 2; }
  .l-header.float-active {
    transition: .3s;
    background: rgba(255, 255, 255, 0.9); }
  @media screen and (max-width: 768px) {
    .l-header {
      height: 60px;
      padding-right: 15px;
      padding-left: 15px; } }
  .l-header .c-title {
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: bold; }

.l-hero {
  background-image: url("../images/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .l-hero__title {
    font-size: 30px;
    text-shadow: 0 0 20px rgba(227, 123, 137, 0.4), 0 0 50px rgba(0, 0, 0, 0.8); }
    @media screen and (max-width: 768px) {
      .l-hero__title {
        text-align: center; } }

/* Component
----------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  .c-nav-menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: white;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s; }
    .c-nav-menu.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2; } }

.c-menu {
  display: flex;
  align-items: center;
  font-size: 24px; }
  .c-menu__item {
    margin-right: 20px; }
  .c-menu__link {
    -webkit-font-smoothing: initial; }
  @media screen and (max-width: 768px) {
    .c-menu {
      display: block;
      font-size: 30px; }
      .c-menu_item {
        margin-right: initial; }
      .c-menu__link {
        -weblit-font-smoothing: initial;
        display: block;
        padding: 15px;
        text-align: center; } }

.c-container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 120px; }
  @media screen and (max-width: 768px) {
    .c-container {
      width: 100%; } }
  .c-container__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .c-container__title {
        width: 70%;
        margin-left: auto;
        margin-right: auto; } }
  .c-container__title_sub {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px; }
  .c-container__about {
    margin-bottom: 40px; }
  @media screen and (max-width: 768px) {
    .c-container__body {
      padding-left: 15px;
      padding-right: 15px; } }
  .c-container__ornament .c-container__title .c-ornament__title {
    display: inline-block;
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1; }
  .c-container__ornament .c-container__title:before, .c-container__ornament .c-container__title:after {
    border-top: 1px solid black;
    content: "";
    display: block;
    position: relative;
    z-index: 0; }
  .c-container__ornament .c-container__title:before {
    top: 28px; }
  .c-container__ornament .c-container__title:after {
    top: -28px; }

.c-panel {
  box-sizing: border-box;
  position: relative;
  margin-right: 15px;
  margin-bottom: 15px;
  box-sizig: border-box; }
  .c-panel__title {
    font-size: 18px;
    color: #666666;
    font-weight: bold;
    padding: 10px;
    text-align: center; }
  .c-panel__text {
    font-size: 14px;
    padding: 10px; }
  .c-panel__group {
    margin-right: -15px; }
    .c-panel__group--flex {
      display: flex;
      flex-wrap: wrap; }
  .c-panel__mission {
    width: calc(33.3% - 15px); }
    @media screen and (max-width: 768px) {
      .c-panel__mission {
        width: 100%;
        margin: 0 auto 15px auto; } }
  .c-panel__lesson {
    width: calc(33.3% - 15px); }
    @media screen and (max-width: 768px) {
      .c-panel__lesson {
        width: 100%;
        margin: 0 auto 15px auto; } }

/* Project
----------------------------------------------------------------- */
.p-news {
  width: 70%;
  height: 60px;
  overflow-y: scroll;
  margin: 0 auto;
  border-radius: 5px;
  background: #f8f4e6;
  padding: 15px 20px; }
  .p-news__item {
    margin-bottom: 5px; }
  .p-news__date {
    color: #777777;
    font-weight: bold;
    -webkit-font-smoothing: initial;
    margin-right: 10px; }
  .p-news__title {
    font-size: 14px; }

/* Utility
----------------------------------------------------------------- */
.u-bg-Color {
  background: #f8f4e6;
  box-shadow: 0px 0px 8px 2px #ddd inset; }

.u-Emphasis__title {
  color: #666666; }
