@charset "UTF-8";
html, body {
  width: 100%;
  color: #222222;
  font-size: 16px;
  line-height: 1.6;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-size-adjust: 100%;
  letter-spacing: 0.1em; }

p, a {
  -webkit-font-smoothing: antialiased; }

a {
  color: #222222;
  text-decoration: none;
  transition: .3s; }

a:hover {
  color: #FFD580;
  transition: .3s; }

img {
  width: 100%;
  vertical-align: bottom; }

.l-header {
  background: white;
  box-sizing: border-box;
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  transition: .3s;
  z-index: 2;
  opacity: 0.7; }
  .l-header.float-active {
    transition: .3s;
    background: #FFFFFF;
    opacity: 1; }

.l-hero {
  background-image: url("../images/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative; }
  @media screen and (max-width: 768px) {
    .l-hero {
      background-attachment: scroll; } }
  .l-hero__title {
    font-size: 85px;
    font-family: "Mplus 1p";
    position: absolute;
    bottom: 150px;
    text-shadow: 0 0 20px rgba(227, 123, 137, 0.4), 0 0 50px rgba(0, 0, 0, 0.8); }
  .l-hero__sub-title {
    font-size: 75px;
    font-family: "Mplus 1p";
    position: absolute;
    bottom: 60px;
    text-shadow: 0 0 20px rgba(227, 123, 137, 0.4), 0 0 50px rgba(0, 0, 0, 0.8); }
  @media screen and (max-width: 768px) {
    .l-hero {
      text-align: center;
      position: relative;
      height: 100vh; }
      .l-hero__title {
        position: absolute;
        bottom: 200px;
        font-size: 30px; }
      .l-hero__sub-title {
        position: absolute;
        bottom: 150px;
        font-size: 25px; } }
  @media screen and (max-width: 414px) {
    .l-hero {
      text-align: center;
      position: relative;
      height: 100vh; }
      .l-hero__title {
        position: absolute;
        bottom: 160px;
        font-size: 25px; }
      .l-hero__sub-title {
        position: absolute;
        bottom: 140px;
        font-size: 20px; } }

#footer {
  background: #F7971E;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px; }
  @media screen and (max-width: 768px) {
    #footer {
      font-size: 12px; } }

/* Component
----------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  .c-nav-menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: white;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s; }
    .c-nav-menu.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2; } }

.c-menu {
  display: flex;
  align-items: center;
  font-size: 20px; }
  .c-menu__item {
    margin-right: 50px; }
  .c-menu__link {
    -webkit-font-smoothing: initial; }
  @media screen and (max-width: 768px) {
    .c-menu {
      display: block;
      font-size: 30px; }
      .c-menu_item {
        margin-right: initial; }
      .c-menu__link {
        -weblit-font-smoothing: initial;
        display: block;
        padding: 15px;
        text-align: center; } }

.c-menu-trigger {
  display: none;
  transition: all .4s;
  box-sizing: border-box;
  position: fixed;
  top: 12px;
  right: 20px;
  width: 40px;
  height: 32px;
  z-index: 3; }
  @media screen and (max-width: 768px) {
    .c-menu-trigger {
      display: inline-block; } }
  .c-menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: #222222;
    border-radius: 4px; }
    .c-menu-trigger span:nth-of-type(1) {
      top: 0; }
    .c-menu-trigger span:nth-of-type(2) {
      top: 14px; }
    .c-menu-trigger span:nth-of-type(3) {
      bottom: 0; }
  .c-menu-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg); }
  .c-menu-trigger.active span:nth-of-type(2) {
    opacity: 0; }
  .c-menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-15px) rotate(45deg); }

.c-container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 120px; }
  @media screen and (max-width: 768px) {
    .c-container {
      width: 100%; } }
  .c-container__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .c-container__title {
        font-size: 20px;
        width: 70%;
        margin-left: auto;
        margin-right: auto; } }
  .c-container__title_sub {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      .c-container__title_sub {
        font-size: 18px; } }
  .c-container__about {
    margin-bottom: 40px; }
  @media screen and (max-width: 768px) {
    .c-container__body {
      padding-left: 15px;
      padding-right: 15px; } }
  .c-container__ornament .c-container__title span {
    display: inline-block;
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1; }
  .c-container__ornament .c-container__title:before, .c-container__ornament .c-container__title:after {
    border-top: 1px solid black;
    content: "";
    display: block;
    position: relative;
    z-index: 0; }
  .c-container__ornament .c-container__title:before {
    top: 28px; }
  .c-container__ornament .c-container__title:after {
    top: -28px; }
  @media screen and (max-width: 768px) {
    .c-container__ornament .c-container__title:before {
      top: 20px; }
    .c-container__ornament .c-container__title:after {
      top: -20px; } }

.c-panel {
  box-sizing: border-box;
  margin-right: 15px;
  margin-bottom: 15px;
  box-sizig: border-box;
  overflow: hidden; }
  .c-panel--hover {
    display: inline-block;
    transition: .5s; }
    .c-panel--hover:hover {
      cursor: pointer;
      transform: scale(1.03);
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
      transition: .5s; }
  .c-panel__img {
    width: 50%;
    height: auto;
    margin: auto; }
  .c-panel__title {
    font-size: 18px;
    color: #666666;
    font-weight: bold;
    padding: 10px;
    text-align: center; }
  .c-panel__text {
    font-size: 14px; }
    @media screen and (max-width: 768px) {
      .c-panel__text {
        padding-left: 15px;
        padding-right: 15px; } }
  .c-panel__group {
    margin-right: -15px; }
    .c-panel__group--flex {
      display: flex;
      flex-wrap: wrap; }
  .c-panel__mission {
    width: calc(33.3% - 15px); }
    @media screen and (max-width: 768px) {
      .c-panel__mission {
        width: 100%;
        margin: 0 auto 15px auto; } }
  .c-panel__lesson {
    width: calc(33.3% - 15px); }
    @media screen and (max-width: 768px) {
      .c-panel__lesson {
        width: 100%;
        margin: 0 auto 15px auto; } }
  .c-panel__instructor {
    width: calc(25% - 15px); }
    @media screen and (max-width: 768px) {
      .c-panel__instructor {
        width: calc(50% - 15px);
        margin: 0 auto 15px auto; } }

.c-btn {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-sizng: border-box;
  transition: .3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .c-btn:hover {
    transform: translateY(-3px);
    trasiton: .3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }
  .c-btn__emphasis {
    color: #fff;
    background: #F7971E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .c-btn--l {
    padding: 15px 30px;
    width: 100%;
    font-size: 18px; }

/* Project
----------------------------------------------------------------- */
.p-news {
  width: 70%;
  height: 60px;
  overflow-y: scroll;
  margin: 0 auto;
  border-radius: 5px;
  background: #f8f4e6;
  padding: 15px 20px; }
  @media screen and (max-width: 768px) {
    .p-news {
      width: 90%; } }
  .p-news__item {
    margin-bottom: 5px; }
  .p-news__date {
    color: #777777;
    font-weight: bold;
    -webkit-font-smoothing: initial;
    margin-right: 10px; }
  .p-news__title {
    font-size: 14px; }
  .p-news br {
    display: none; }
    @media screen and (max-width: 768px) {
      .p-news br {
        display: block; } }

.p-form {
  width: 100%; }
  .p-form__m {
    width: 60%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 768px) {
      .p-form__m {
        width: 80%; } }

.p-input {
  margin-bottom: 10px;
  border: 3px solid #BBBBBB;
  border-radius: 4px;
  outline: none;
  height: 60px;
  font-size: 18px;
  color: #222222;
  box-sizing: border-box; }
  .p-input--l {
    padding: 5px 10px;
    width: 100%; }
  .p-input:focus {
    border: 3px solid #FFD580; }
  .p-input__textarea {
    height: 200px; }

.p-input {
  display: block; }

::placeholder {
  color: #ccc; }

/* Utility
----------------------------------------------------------------- */
.u-bg-Color {
  background: #f8f4e6;
  box-shadow: 0px 0px 8px 2px #ddd inset; }

.u-Emphasis__title {
  color: #666666; }

.u-mb-xxl {
  margin-bottom: 30px; }
