// ==================================
// form
// ==================================
.p-form{
  width:100%;
  &__m{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    @include mq(){
      width:100%;
    }
  }
}

.p-input{
  margin-bottom:$space_m;
  border:3px solid #BBBBBB;
  border-radius:4px;
  outline:none;
  height:60px;
  font-size:$font-size_l;
  color:$font-color_default;
  box-sizing:border-box;
  &--l{
    padding:5px 10px;
    width:100%;
  }
  &:focus{
    border: 3px solid  $color_emphasis;
  }
&__textarea{
  height:200px;
 }
}

.p-input{
  display:block;
}

::placeholder{
  color: #ccc;
}