// ==================================
// news
// ==================================
.p-news{
  width:70%;
  height:60px;
  overflow-y:scroll;
  margin:0 auto;
  border-radius:5px;
  background: #FFD580;
  padding:$space_l $space_xl;
  &__item{
    margin-bottom:$space_s;
  }
  &__date{
    color:#555555;
    font-weight:bold;
    -webkit-font-smoothing:initial;
    margin-right:$space_m;
  }
  &__title{
    font-size:$font-size_m;
  }
}