// ==================================
// news
// ==================================
.p-news{
  width:70%;
  height:60px;
  overflow-y:scroll;
  margin:0 auto;
  border-radius:5px;
  background: $bg-color_ivory;
  padding:$space_l $space_xl;
  @include mq(){
    width:90%;
  }
  &__item{
    margin-bottom:$space_s;
  }
  &__date{
    color:#777777;
    font-weight:bold;
    -webkit-font-smoothing:initial;
    margin-right:$space_m;
  }
  &__title{
    font-size:$font-size_m;
  }
  br{
    display:none;
  @include mq(){
  display:block;
    }
  }
}