// ==================================
// footer
// ==================================
#footer{
  background:#F7971E;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  height:80px;
  @include mq(){
    font-size:$font-size_s;
  }
}