// ==================================
// hero
// ==================================
.l-hero {
  background-image: url('../images/hero.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  height:100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
@include mq(){
  background-attachment: scroll;
}
  &__title {
    font-size: 85px;
    font-family: $font-family_corp;
    position: absolute;
    bottom: 150px;
    text-shadow: 0 0 20px rgba(227, 123, 137, .4), 0 0 50px rgba(0, 0, 0, .8);
  }

  &__sub-title {
    font-size: 75px;
    font-family: $font-family_corp;
    position: absolute;
    bottom: 60px;
    text-shadow: 0 0 20px rgba(227, 123, 137, .4), 0 0 50px rgba(0, 0, 0, .8);
  }

  @include mq() {
    text-align: center;
    position:relative;
    height:100vh;
    &__title {
      position:absolute;
      bottom:200px;
      font-size: 30px;
      font-family: $font-family_corp;
      text-shadow: 0 0 20px rgba(227, 123, 137, .4), 0 0 50px rgba(0, 0, 0, .8);
    }
    &__sub-title {
      position:absolute;
      bottom:150px;
      font-size: 25px;
      font-family: $font-family_corp;
      text-shadow: 0 0 20px rgba(227, 123, 137, .4), 0 0 50px rgba(0, 0, 0, .8);
    }
  }
}
