// ==================================
// btn
// ==================================
.c-btn{
  border:none;
  cursor:pointer;
  border-radius:5px;
  box-sizng:border-box;
  transition:.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  &:hover{
    transform:translateY(-3px);
    trasiton:.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  &__emphasis{
    color: #fff;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  &--l{
    padding:$space_l $space_xxl;
    width:100%;
    font-size:$font-size_l;
  }
}