// ==================================
// container
// ==================================
.c-container {
  width: $site-width;
  @include mq() {
    width: 100%;
  }
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 120px;

  &__title {
    text-align: center;
    font-size: $font-size_xxl;
    margin-bottom: $space_xxl;
    @include mq() {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title_sub {
    text-align: center;
    font-size: $font-size_l;
    margin-bottom: $space_xl;
  }

  &__about {
    margin-bottom: $space_3l;
  }

  &__body {
    @include mq() {
      padding-left: $space_l;
      padding-right: $space_l;
    }
  }

  &__ornament {
    .c-container__title {
      span {
        display: inline-block;
        background: #fff;
        padding: 0 10px;
        position: relative;
        z-index: 1;
      }

      &:before, &:after {
        border-top: 1px solid black;
        content: "";
        display: block;
        position: relative;
        z-index: 0;
      }

      &:before {
        top: 28px;
      }

      &:after {
        top: -28px;
      }
    }
  }
}